<header th:fragment="header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/produitsstock}">
            Tableau de bord
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${userrole}">
                    <a class="nav-link" th:href="@{/frigos}">Frigos</a>
                </li>
                <li class="nav-item" th:if="${userrole}">
                    <a class="nav-link" th:href="@{/produitsref}">Produits</a>
                </li>
                <li class="nav-item" th:if="${userrole}">
                    <a class="nav-link" th:href="@{/categories}">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/histofrigos}">Historiques Frigo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/histoproduitStock}">Historiques Produits Stock</a>
                </li>
                <li class="nav-item" th:if="${userrole}">
                    <a class="nav-link" th:href="@{/utilisateurs}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">LogOut</a>
                </li>

            </ul>
        </div>
    </nav>
</header>